.img-name {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    white-space: normal !important;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // height: 25%;
    padding-bottom: 0px;
    box-sizing: border-box;
}

.add-product-button {
    width: 40%;
    text-align: center;
    margin: 0;
}

.stickybottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 999;
    margin-top: auto !important;
}

.container {
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.dropzone {
    border: 2px dashed #f96e66;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.dropzone:hover {
    background-color: #f0f8ff;
}

.preview-container {
    margin-top: 20px;
}

.file-preview {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.file-preview img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 4px;
}

.file-preview p {
    flex: 1;
    margin: 0;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

:host ::ng-deep .p-breadcrumb {
    border: none;
    background-color: #f9fafb !important;
}
.disabled {
    pointer-events: none;
    opacity: 0.7;
}
.file-preview-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.file-preview:hover {
    background-color: #f1f1f1;
}

.cdk-drag-preview {
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.cdk-drag-placeholder {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 60px;
    margin: 5px 0;
    transition: all 0.2s ease;
}

.drag-handle {
    cursor: grab;
    margin-right: 10px;
    font-size: 1.2rem;
    color: #666;
}
