<app-loader *ngIf="isLoading"></app-loader>
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'shopmain'
                    : 'shopmain'
            }}.png"
            alt="Sakai logo"
            class="mb-5 w-13rem flex-shrink-0"
        />
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    #f9d2d0,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        New Credentials
                    </div>
                    <span class="text-600 font-medium"
                        >Your identity has been verified! Set your new
                        password</span
                    >
                </div>
                <form
                    #changePasswordForm="ngForm"
                    (ngSubmit)="onUpdate(changePasswordForm)"
                >
                    <div>
                        <div>
                            <label
                                for="password"
                                class="block text-900 text-xl font-medium mb-2"
                                >New Password</label
                            >
                            <p-password
                                id="password"
                                [feedback]="false"
                                [toggleMask]="true"
                                name="password"
                                [(ngModel)]="changePassword.Password"
                                #password="ngModel"
                                placeholder="Enter new password"
                                styleClass=""
                                inputStyleClass="w-full p-3 md:w-30rem"
                                required
                            ></p-password>
                            <div
                                *ngIf="
                                    password.invalid &&
                                    (password.dirty || password.touched)
                                "
                                class="error-messages"
                            >
                                <div *ngIf="password.errors?.required">
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div>
                            <label
                                for="confirmPassword"
                                class="block text-900 text-xl font-medium mb-2 mt-5"
                                >Confirm Password</label
                            >
                            <p-password
                                name="ConfirmPassword"
                                [(ngModel)]="changePassword.ConfirmPassword"
                                #confirmPassword="ngModel"
                                [feedback]="false"
                                [toggleMask]="true"
                                placeholder="Confirm new password"
                                styleClass=""
                                inputStyleClass="w-full p-3 md:w-30rem"
                                required
                            ></p-password>
                            <div
                                *ngIf="
                                    confirmPassword.invalid &&
                                    (confirmPassword.dirty ||
                                        confirmPassword.touched)
                                "
                                class="error-messages"
                            >
                                <div *ngIf="confirmPassword.errors?.required">
                                    Confirm password is required.
                                </div>
                            </div>
                        </div>

                        <button
                            pButton
                            pRipple
                            style="
                                background: #f84e45e3;
                                border-color: #f84e45e3;
                                justify-content: center;
                            "
                            class="w-full p-3 text-xl text-center mt-5"
                            type="submit"
                        >
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
