<app-loader *ngIf="loading"></app-loader>


<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'shopmain'
                    : 'shopmain'
            }}.png"
            alt="Sakai logo"
            class="mb-5 w-13rem flex-shrink-0"
        />
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    #f9d2d0,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome, User!
                    </div>
                    <span class="text-600 font-medium"
                        >Change your password</span
                    >
                </div>

                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <div>
                        <label
                            for="password"
                            class="block text-900 text-xl font-medium mb-2"
                            >New Password</label
                        >
                        <p-password
                            id="password"
                            formControlName="password"
                            [feedback]="false"
                            [toggleMask]="true"
                            placeholder="Enter new password"
                            styleClass="mb-5"
                            inputStyleClass="w-full p-3 md:w-30rem"
                        ></p-password>
                        <div *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched">
                            Password is required
                        </div>
                    </div>

                    <div>
                        <label
                            for="confirmPassword"
                            class="block text-900 text-xl font-medium mb-2"
                            >Confirm Password</label
                        >
                        <p-password
                            id="confirmPassword"
                            formControlName="confirmPassword"
                            [feedback]="false"
                            [toggleMask]="true"
                            placeholder="Confirm new password"
                            styleClass="mb-5"
                            inputStyleClass="w-full p-3 md:w-30rem"
                        ></p-password>
                        <div 
                            *ngIf="passwordForm.controls['confirmPassword'].touched && passwordForm.controls['confirmPassword'].errors?.['required']">

                            Confirm Password is required
                        </div>
                        <div *ngIf="passwordForm.errors?.['passwordMismatch'] && passwordForm.get('confirmPassword').touched">
                            Passwords do not match
                        </div>
                    </div>

                    <button
                        style="background: #f84e45e3; border-color: #f84e45e3"
                        pButton
                        pRipple
                        class="w-full p-3 text-xl mb-5"
                        type="submit"
                    >Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
