<app-loader *ngIf="loading"></app-loader>

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img
            src="assets/layout/images/{{
                layoutService.config().colorScheme === 'light'
                    ? 'shopmain'
                    : 'shopmain'
            }}.png"
            alt="Sakai logo"
            class="mb-5 w-13rem flex-shrink-0"
        />
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, #f9d2d0, rgba(33, 150, 243, 0) 30%);"
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, User!</div>
                    <span class="text-600 font-medium">Reset Password</span>
                </div>

                <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                    <div>
                        <label
                            for="email1"
                            class="block text-900 text-xl font-medium mb-2"
                            >Email</label
                        >
                        <input
                            id="email1"
                            type="email"
                            formControlName="email"
                            placeholder="Email address"
                            pInputText
                            class="w-full mb-5"
                            style="padding: 1rem"
                        />
                        <button
                            style="background: #f84e45e3; border-color: #f84e45e3"
                            pButton
                            pRipple
                            label="Submit"
                            class="w-full p-3 text-xl mb-5"
                            type="submit"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
