<h5 class="text-primary mb-3">Enter your new password</h5>
<div class="form-group text-left">
  <label for="password">Password</label>
  <div class="input-group">
    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Password"
    />
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="fa fa-eye"></i>
      </span>
    </div>
  </div>
</div>
<div class="form-group text-left">
  <label for="password">Confirm Password</label>
  <div class="input-group">
    <input
      type="password"
      id="password"
      class="form-control"
      placeholder="Confirm Password"
    />
  </div>
</div>
<button type="submit" class="btn btn-primary w-100 my-3">Reset Password</button>
<a routerLink="/auth/login" class="text-primary">Back to Login</a>